<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!favoritePokemons || favoritePokemons.length === 0" class="ion-padding ion-text-center">
    <p>Você ainda não marcou nenhum Pokémon como favorito.</p>
    <p>Clique na estrela ★ na lista principal para adicionar.</p>
  </div>

  <ion-list *ngIf="favoritePokemons.length > 0">
    <ion-item *ngFor="let pokemon of favoritePokemons" [routerLink]="['/details', pokemon.id]" detail="true" lines="full">
      <ion-avatar slot="start">
        <img [src]="pokemon.image" />
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>{{ pokemon.name }}</h2>
        <p>#{{ pokemon.id.toString().padStart(3, '0') }}</p>
      </ion-label>
       <ion-button fill="clear" slot="end" (click)="toggleFavorite(pokemon, $event)">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>